<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="{{ site.baseurl }}" class="home-logo-link">
        <img src="{{ site.baseurl }}/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="{{ site.baseurl }}/m1">Module 1</a></li>
    <li class="uppercase"><a href="{{ site.baseurl }}/m2">Module 2</a></li>
    <li class="uppercase"><a href="{{ site.baseurl }}/m3">Module 3</a></li>
    <li class="uppercase"><a href="{{ site.baseurl }}/m4">Module 4</a></li>
  </ul>
</nav>
